.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  padding: 0 1em;
}
ul img{
  height: auto;
  width: 10%;
  background-color: lightgrey;
  padding: 0.5em;
  margin: 1.5em;
  border-radius: 0.3em;
  scale: 1;
}



ul img:hover{
  height: auto;

  background-color: rgb(155, 155, 155);
  transition: 0.5s;
  scale: 1.1 ;

}

a{
  text-decoration: none;
}

/* .animado{
  opacity: 0;
  transition: all 0.5s;
} */

.header-navigation{
  background-color: gainsboro;
  padding: 1em;
}